@media screen and (max-width: 893px){
    
.body {
    overflow-x: hidden;
}    

.menuLine {
    display: block;
    cursor: pointer;
    color: white;
    background-color: white;
}

.menuLine div {
    
    width: 32px;
    height: 2px;
    margin: 8px;
}

.menu ul {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
}

.menu li {
    opacity: 0;
}

.redesSociais {
        justify-content: center;  
        
    }

.containerHome {
        display: block;
        text-align: center;
}

.containerSobreMim {
    display: block;
    text-align: center;
    margin-bottom: 400px;
}

.sobre {
    padding: 10px;
    text-align: center;
}

.sobre p {
    text-align: justify;
    padding: 0 5% 3%;
    
}

.containerHabilidades {
    display: block;
    justify-content: center;
}

.containerMaster {
    justify-content: center;
}

}