@media screen and (max-width: 893px){
    
.body {
    overflow-x: hidden;
} 

.menu-icon {
    margin-left: 460%;
}

.menu-icon img {
    display: block;
    cursor: pointer;
    background-color: white;
    z-index: 10;
    
}

.navList {
    position: fixed;
    top: 10%;
    right: 0;
    width: 18%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(100%); 
    transition: transform 0.6s ease-in;
    font-weight: bold;
    font-size: 1.2em;
    
}

.navList.open {
    transform: translateX(0);
}

.navList li {
    margin: 10px 0;
}

.redesSociais {
    justify-content: center;          
}

.containerHome {
        display: block;
        text-align: center;
}

.containerSobreMim {
    display: block;
    text-align: center;
    margin-bottom: 400px;
}

.sobre {
    padding: 10px;
    text-align: center;
}

.sobre p {
    text-align: justify;
    padding: 0 5% 3%;
    
}

.containerHabilidades {
    display: block;
    justify-content: center;
}

.containerMaster {
    justify-content: center;
}

}